@*@model List<SchoolManagementSystem.Areas.Accounts.ViewModels.ExtraFeeViewModel>*@

@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<SchoolManagementSystem.Areas.Accounts.ViewModels.ExtraFeeViewModel>


<p class="h2" style="text-align:center;">Extra Fee List<br /><div style="border-bottom:1px solid #686868"></div> </p>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th class="h3">
                Serial No
            </th>
            <th class=" h3  ">
                Class
            </th>
            <th class=" h3  ">
                Extra Fee Title
            </th>
            <th class=" h3  ">
                Extra Fee Amount
            </th>
            <th class=" h3  ">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class=" h4  ">@item.serialnoVM</td>
                <td class=" h4  ">@item.classnameVM</td>
                <td class=" h4  ">@item.extrafeetitleVM</td>
                <td class=" h4  ">@item.extrafeeamountVM</td>
                <td class=" h4  ">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-action="UpdateExtraFeeList" asp-controller="Accounts" asp-area="Accounts" asp-route-uefl="@item.PrimaryKey"><i class="fa fa-pencil-square" style="font-size:25px;color:green"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>


Page(@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("ExtraFeeList", new { page = page }))