@model List<SchoolManagementSystem.Areas.Accounts.ViewModels.SalaryDetailsViewModel>
@*@using X.PagedList.Mvc.Core;

    @model X.PagedList.IPagedList<SchoolManagementSystem.Areas.Accounts.ViewModels.AccMngViewModel>*@

@*<div>
        <form class="form-inline" asp-area="Accounts" asp-controller="Accounts" asp-action="SearchTeacherSalary" method="post">
            <div class="form-group">

                <label>Select Class:</label>

                <select asp-items="@(new SelectList(ViewBag.Class,"ClassId","ClassName")) " class="form-control" name="cid2"></select>


            </div>
            <button class="btn btn-primary" type="submit">Search More</button>

        </form>
    </div>*@

<p class="h2" style="text-align:center;">Teacher Salary List<br /><div style="border-bottom:1px solid #686868"></div> </p>
<div style="overflow-x:auto;">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="h3">
                    Serial No
                </th>
                <th class=" h3  ">
                    Teacher ID
                </th>
                <th class=" h3  ">
                    Teacher Name
                </th>
                <th class=" h3  ">
                    Designation
                </th>
                <th class=" h3  ">
                    Salary
                </th>
                <th class=" h3  ">
                    Status
                </th>
                <th class=" h3  ">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class=" h4  ">@item.serialnoVM</td>
                <td class=" h4  ">@item.teacheridVM</td>
                <td class=" h4  ">@item.teachernameVM</td>
                <td class=" h4  ">@item.designameVM</td>
                <td class=" h4  ">@item.salaryVM</td>
                @if (item.PaymentStatus != true)
        {
            <td class=" h4  ">NotPaid</td>
        }
        else
        {
            <td class=" h4  ">Paid</td>
        }
                @*<td class=" h4  ">@ViewBag.paid@ViewBag.notpaid</td>*@
                <td class=" h4  ">@item.dtVM</td>

            </tr>
            }
        </tbody>
    </table>

</div>


@*Page(@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount)

    @Html.PagedListPager(Model, page => Url.Action("FeeList", new { page = page }))*@